@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 135px 44px 10px;
  background: rgba(41, 28, 125, 0.9);
  z-index: 10;
}

.container .lendme-logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.container .lendme-logo img {
  position: absolute;
  top: 38px;
  z-index: 1;
}

.container__element {
  height: 510px;
  width: 100%;
  padding: 40px 17px;
  border-radius: 10px;
  background-color: #fff;
}

.container__element .artwork {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
}

.container__element .artwork img {
  position: relative;
  top: 0;
}

.container__element-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 17px;
  text-align: center;
  font-weight: 400;
}

.container__element-text h2 {
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 32px;
}

.container__element-text p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}

.container__element-select .each {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 22px;
  padding: 0 17px 0 5px;
  font-size: 18px;
}

.container__element-select .each .option-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  top: 5px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 15px;
  width: 15px;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #7a83a2;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  z-index: 1000;
}

.container__element-select .each .option-input:checked {
  background: #01ae13;
  border: none;
}

.container__element-select .each .option-input:checked::before {
  height: 5.67px;
  width: 7.47px;
  padding: 2px;
  position: absolute;
  top: 0.9px;
  content: "✔";
  display: inline-block;
  text-align: center;
  line-height: 10px;
}

.container__element-select .each .option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
          animation: click-wave 0.65s;
  background: #01ae13;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}

.container__element-select .each label {
  color: rgba(58, 42, 122, 0.8);
}

.container__element-select .line {
  width: 100%;
  height: 1px;
  margin-bottom: 28px;
  background: rgba(78, 2, 224, 0.2);
}

.container__element-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
  padding-top: 24px;
}

.container__element-loader img {
  translate: transform 1s ease-in-out;
}
/*# sourceMappingURL=styles.css.map */